<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.SEND_EMAIL" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/vercel_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".Practice_ColorChange"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Practice_DBUser"
            android:exported="false" />
        <activity
            android:name=".Practice_Menus"
            android:exported="false" />
        <activity
            android:name=".Practice_SendEmail"
            android:exported="false" />
        <activity
            android:name=".Practice_AlertDialog"
            android:exported="false" />
        <activity
            android:name=".Practice_CallSMS"
            android:exported="false" />
        <activity
            android:name=".Practice_SplashScreen"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".Practice_Calculator"
            android:exported="false" />
        <activity
            android:name=".Practice_LoginScreen"
            android:exported="false" />
        <activity
            android:name=".Practice_ActivityLifeCycle"
            android:exported="false" />
        <activity
            android:name=".Practice_HelloWorld"
            android:exported="false" />
        <activity
            android:name=".PopupDemo"
            android:exported="false" />
        <activity
            android:name=".AlertDialogDemo"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".SendEmail"
            android:exported="false" />
        <activity
            android:name=".DateTimeActivity"
            android:exported="false" />
        <activity
            android:name=".LifeCycle"
            android:exported="false" />
        <activity
            android:name=".HelloWorld"
            android:exported="false" />
        <activity
            android:name=".PhoneMessage"
            android:exported="false" />
        <activity
            android:name=".EditProfile"
            android:exported="false" />
        <activity
            android:name=".HomeScreen"
            android:exported="false" />
        <activity
            android:name=".SignupForm"
            android:exported="false" />
        <activity
            android:name=".AllUserData"
            android:exported="true" />
        <activity
            android:name=".Book_Info"
            android:exported="false" />
        <activity
            android:name=".Book_Data"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreenLogin"
            android:exported="false"
            android:noHistory="false" />
        <activity
            android:name=".Calculator"
            android:exported="false" />
        <activity
            android:name=".BookGridLayout"
            android:exported="false" />
    </application>

</manifest>